<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sec.mybatis.dao.LmNewsMapper" >
  <resultMap id="BaseResultMap" type="com.sec.mybatis.model.LmNews" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="depict" property="depict" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="list_pic" property="listPic" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, depict, content, list_pic, create_time, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from lm_news
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from lm_news
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <select id="getNewsList" resultMap="BaseResultMap" parameterType="com.sec.mybatis.model.LmNews">
  	select 
  		t.* 
  	from 
  		lm_news t 
  	where 1=1
  	<if test="title != null" >
        and title like '%${title}%'
    </if>
    <if test="createTimeStr != null and createTimeStr!=''" >
        and  date_format(t.create_time, '%Y-%m-%d') = #{createTimeStr,jdbcType=VARCHAR}
    </if>
    <if test="status != null" >
        and  status = 0
    </if>
  </select>
  <insert id="insert" parameterType="com.sec.mybatis.model.LmNews" >
    insert into 
    	lm_news(id, title, depict, content, list_pic, create_time, status)
    	values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{depict,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{listPic,jdbcType=VARCHAR}, #{createTime,jdbcType=DATE}, 
      #{status,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sec.mybatis.model.LmNews" >
    insert into lm_news
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="depict != null" >
        depict,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="listPic != null" >
        list_pic,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="depict != null" >
        #{depict,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="listPic != null" >
        #{listPic,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=DATE},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sec.mybatis.model.LmNews" >
    update lm_news
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="depict != null" >
        depict = #{depict,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="listPic != null" >
        list_pic = #{listPic,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=DATE},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
   <update id="newsDel" parameterType="java.lang.Integer" >
    update  lm_news t set t.status='1'
    where t.id = #{id,jdbcType=INTEGER}
  </update>
</mapper>