<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd  
                        http://www.springframework.org/schema/context  
                        http://www.springframework.org/schema/context/spring-context-4.2.xsd  
                        http://www.springframework.org/schema/mvc  
                        http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd  
                        http://www.springframework.org/schema/aop  
                        http://www.springframework.org/schema/aop/spring-aop-4.2.xsd">
     <mvc:redirect-view-controller  
        path="/"  
        redirect-url="/admin/login"  
        context-relative="true"  
        keep-query-params="true"/>                    
                        
	 <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:${profileActive}.properties</value>
			</list>
		</property>
	</bean>   
	<mvc:annotation-driven />
	<context:component-scan base-package="com.sec" />
	
	<mvc:view-resolvers>
	    <mvc:jsp cache-views="false" prefix="/WEB-INF/jsp/" suffix=".jsp" />  
	</mvc:view-resolvers>
	<!-- <mvc:view-controller path="/static/utf8-jsp" view-name="controller"/> -->
	 <!--<mvc:interceptors>
	    <mvc:interceptor>  
	        <mvc:mapping path="/**"/>
	        <mvc:exclude-mapping path="/"/>
	        <mvc:exclude-mapping path="/admin/login"/> 
	        <mvc:exclude-mapping path="/admin/doLogin"/> 
	        <mvc:exclude-mapping path="/static/**"/>  
	        <bean class="com.sec.compent.LoginInterceptor"/>
	    </mvc:interceptor>  
	</mvc:interceptors>-->
	
    <bean id="jsonView"
        class="org.springframework.web.servlet.view.json.MappingJackson2JsonView">
        <property name="encoding">
            <value type="com.fasterxml.jackson.core.JsonEncoding">UTF8</value>
        </property>
        <property name="extractValueFromSingleKeyModel" value="true"></property>
        <property name="contentType" value="application/json;charset=UTF-8" />
    </bean> 
  
	
	<!-- 
	<mvc:annotation-driven>
       <mvc:message-converters register-defaults="false">
           <bean id="fastJsonHttpMessageConverter" class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
               <property name="supportedMediaTypes">
                   <list>
                       <value>text/html;charset=UTF-8</value>
                       <value>application/json;charset=UTF-8</value>
                   </list>
               </property>
           </bean>
    	</mvc:message-converters>
    </mvc:annotation-driven>  
    -->
   
    
	<bean  id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value="utf-8" />
		<property name="maxUploadSize" value="2000000" />
	</bean>

	<mvc:resources mapping="/static/**" location="/WEB-INF/static/" />
	
</beans>